h1{
	margin:1rem 0;
	font-size: 2.25rem;
	line-height: 1.5rem;
	font-weight: 100;
	/*font-variant: small-caps;*/
	text-transform: uppercase;
}
h2{
	margin:1rem 0;
	font-size: 1.5rem;
	font-weight: normal;
	text-transform: capitalize;
}
h3{
	margin:.5rem 0;
	font-size: 1.75rem;
	line-height: 1.5rem;
	font-weight: normal;
	/*font-variant: small-caps;*/
	text-transform: uppercase;	
}
a{	
	margin:.5rem 0;
	text-decoration: none;
	color:#bcbbbb;
}
a:hover{
	color:#bcbb00;
}
section:first-of-type{
	border-top: 2px solid #bcbbbb;
}
.masthead{
	text-align: right;
}
.tim{
	letter-spacing: .03rem;
}
.submast{
	font-size: 1rem;
	font-weight: normal;
}

.vig{
	text-align: center;
}
.billboard{
	text-align: center;
}
.circle{
	border: .28rem solid #f8981c;
	border-radius: 50%;
	padding: 1rem;
	display: inline-block; 
}
