html{
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body, h1,h2,h3,h4,p{
	margin: 0;
	font: 16px/1 lato, sans-serif;
	text-decoration: none;
	color:#747704;	
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
picture, source, img {
	max-width:100%;
}
.screenshot{
	max-width: 460px;
}
.description{
	max-width: 705px;
}
.app{
	display:flex;
}
.title{
	background-color: #33BEBE;
	color:#fff;
}