.container{
	margin: 0 auto;
	width: 100%;
	max-width: 60rem;
	padding: 0 0.5rem;
}
header, section, footer, nav{
	width:100%;
	position: relative;
}
/*header:after,
section:after,
footer:after,
nav:after,
.container:after,
.row:after{
  content:"";
  clear:both;
  display:table;
}*/
.row{
	width: 100%;
	display: flex;
	box-sizing: border-box;
}
.w-1-1, .w-1-3{
	width: 100%;
	max-width: 100%;
}
.w-1-2{
	width: 50%;
	max-width: 50%;
}
